/* Clear Style Settings */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f4f4;
}

h1,
h2,
h3 {
  font-family: "Dosis", sans-serif;
}

/* Center input and submit button */
.flex-items {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
}

/* Text colors */
.text-primary {
  color: #fff;
}

.text-secondary {
  color: #333;
}

/* Center Nametag */
.name-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-top: 50px;
}

/* Main container */
#container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 400px;
}

/* Boxes */
.box-1 {
  background-color: #e62211;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-2 {
  background-color: #fff;
  height: 150px;
}

.box-3 {
  background-color: #e62211;
  height: 35px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Text */
.hello {
  padding: 5px;
  font-size: 3rem;
  letter-spacing: 10px;
}

.name-is {
  word-spacing: 5px;
  font-size: 20px;
}

.nic {
  font-size: 4rem;
  padding-top: 40px;
  font-family: "Kufam", Helvetica, sans-serif;
}
/* Input */
.input {
  padding: 10px;
}

.input h3 {
  padding: 10px;
}

.input input:focus {
  outline-color: #333;
}

/* Button Style */
.btn {
  cursor: pointer;
  margin: 5px;
  padding: 10px 30px;
  color: #333;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  outline-color: #666;
}

.submit-btn:hover {
  background-color: rgb(167, 164, 164);
}

/* Color buttons */
.color-buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.pink-btn,
.green-btn,
.blue-btn {
  margin: 5px;
}

.pink-btn {
  color: rgb(241, 102, 172);
  outline-color: rgb(230, 169, 199);
}

.pink-btn:hover {
  background-color: rgb(230, 169, 199);
}

.green-btn {
  color: rgb(113, 197, 113);
  outline-color: rgb(170, 240, 170);
}

.green-btn:hover {
  background-color: rgb(170, 240, 170);
}

.blue-btn {
  color: rgb(86, 194, 230);
  outline-color: rgb(153, 217, 238);
}

.blue-btn:hover {
  background-color: rgb(153, 217, 238);
}
